
/* Editor page */
.mainWrap {
/* display: flex;
flex-direction: row;
max-width: 1600px;
height: calc(100vh - 72px);
width: 76%;
overflow-y: hidden;
margin: 0 auto;
padding: 0 5px; */
}

.clientsList {
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;
;
}

.colsWrapper{
display: flex;
width: 100%;
flex-direction: column;
}

.editorWrap{
width: 100%;
overflow-y: auto;
}


.colsWrapper .iframe{
background-color: gray ;
height: 420px;

/* border-radius: 25px; */
/* overflow-y: auto; */
}


.editorWrap .buttons{
display: flex;
align-items: center;
justify-content: center;
height: 30px;
padding: 5px 0;
background-color: #1D1D1D;
gap: 20px;
}

.editorContainer{
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
}

.editorContainer .themes{
background-color: #282A36;
width: 100%;
display: flex;
width: 100%;
align-items: center;
justify-content: center;
color: coral;
gap: 20px;
}

.code-mirror-wrapper{
width: 100%;
}

.client {
display: flex;
position: relative;
align-items: center;
flex-direction: column;
font-weight: bold;
}

.client .onlinePoint{
position: absolute;
background-color: #4aed88;
width: 12px;
height: 12px;
border-radius: 50%;
top: -3px;
right: -2px;
}


.CodeMirror {
min-height: calc(100vh - 20px);
font-size: 20px;
line-height: 1.6;
padding-top: 20px;
}