.room {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    background: #1d1d1d;
}

.leftSide, .rightSide {
    position: fixed;
    background: #1d1d1d;
    width: 15%;
    height: 100%;
    top: 4.5rem;
    z-index: 900;
    border-radius: 10px;
}

.leftSide{
    left: 0px;
}

.closedLeftSide{
    position: fixed;
    background: #1d1d1d;
    height: 100%;
    top: 8rem;
    left: 0.6rem ;
    z-index: 900;
    cursor: pointer;
}

.closedRightSide{
    position: fixed;
    background: #1d1d1d;
    height: 100%;
    top: 8rem;
    right: 0.6rem ;
    z-index: 900;
    cursor: pointer;
}

.rightSide{
    right: 0px;
}

.center {
    width: 90%;
    z-index: 10;
    border-radius: 20px;
}



@media screen and (max-width: 500px){
    .leftSide, .rightSide {
    position: fixed;
    background: #1d1d1d;
    width: 40%;
    height: 100%;
    top: 4.5rem;
    z-index: 900;
    border-radius: 10px;
    }


    .closedLeftSide{
        position: fixed;
        background: #1d1d1d;
        height: 100%;
        top: 8rem;
        left: 0rem ;
        z-index: 900;
        cursor: pointer;
    }
    
    .closedRightSide{
        position: fixed;
        background: #1d1d1d;
        height: 100%;
        top: 8rem;
        right: 0 ;
        z-index: 900;
        cursor: pointer;
    }
    
}
