
.topMessengerWrapper{
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
    height: 83%;

}

.burger{
    z-index: 990;
    position: fixed;
    top: 17%;
    right: 15%;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: rgb(224, 214, 25);
    font-weight:800;
}

.messenger{
    /* position: fixed;
    top: 71px;
    right: 0px;
    background: #1d1d1d;
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.messengerWrap{
    padding: 10px;
    overflow-y: auto;
    padding-bottom: 30%;
}

.messengerWrap h4{
    padding-top: 10px;
    overflow-y: auto;
}

.conversation {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
    background: #3179b458;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
}

.message .user {
    font-size: 12px;
    color: gray;

}

.message .text {
    font-size: 12px;
    color: rgba(179, 166, 166, 0.998);
}

.SendingTextWrapper{
    position: relative;
    width: 40%;

}

.SendingTextWrapper .sendingText{
    position: fixed !important;
    bottom: 0%;
    right: 1%;
    border: 3px solid #164d9a;
    width: 13%;
    height: 10%;
}   