

.messenger{
    /* position: fixed;
    top: 0px;
    right: 0px;
    background: #1d1d1d;
    width: 14%;
    height: 100vh; */

    position: fixed;
    top: 80px;
    right: 0px;
    background: #1d1d1d;
    width: 14%;
    height: 100%;
    /* padding-top: 20px; */
}