
.topMessengerWrapper{
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
    height: 83%;

}

.burger{
    z-index: 990;
    position: fixed;
    top: 17%;
    right: 14%;
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: rgb(199, 19, 19);
    font-weight:bold;
}

.messenger{
    /* position: fixed;
    top: 71px;
    right: 0px;
    background: #1d1d1d;
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.messengerWrap{
    padding: 10px;
    overflow-y: auto;
    padding-bottom: 30%;
    position: relative;
    padding-top: 30px;
}

.messengerWrap h4{
    padding-top: 10px;
    background: #1D1D1D;
    width: 100%;
    position: fixed;
    top: 4.45rem;
    z-index: 990;
    padding-bottom: 5px;
    color: greenyellow;

}

.conversation {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #3179b458;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px ;
    padding-bottom: 5px;
    gap: 10px;
    border-radius: 5px;
}

.userMessage{
    background: #48df1e58;
}

.user {
    font-size: 12px;
    color: gray;
}

.message .msgAt{
    font-size: 7px;
    color: rgba(179, 166, 166, 0.998);
    padding-bottom: 10px;
}

.message .text {
    font-size: 13px;
    color: white
}

.SendingTextWrapper{
    position: relative;
    width: 40%;

}

.SendingTextWrapper .sendingText{
    position: fixed !important;
    bottom: 0%;
    right: 1%;
    border: 3px solid #164d9a;
    width: 13%;
    height: 10%;
} 


@media  screen and (max-width:500px){
    .burger{
        z-index: 990;
        position: fixed;
        top: 20%;
        right: 34%;
        font-size: 25px;
        display: flex;
        justify-content: flex-end;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        color: rgb(199, 19, 19);
        font-weight:800;
    }

    .SendingTextWrapper .sendingText{
        position: fixed !important;
        bottom: 0%;
        right: 1%;
        border: 3px solid #164d9a;
        width: 34%;
        height: 10%;
    } 
    
}